<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "https://68.media.tumblr.com/6855246cf479d0d814f22f1618f0e408/tumblr_inline_ngcldaqrEt1rxxsf3.jpg" %>
    </div>
    
    <div id="content">
        <h1>About The Light of Life (TLOL)</h1>
        <p>We invite you to know a person who Him Self if the True, they Way and the Life: Jesus Christ.<br><br> He is the Light that you need to live, here we post about Him by His love and power, and is especific related to Islam, in this space there are no limitations ,you can write all your ideas as long do not use dirty talking and respecting others, we encorague to reveiew and check by your self all the information given and provide your feedback about it.<br><br> His own words says it “I am the light of the world. Whoever follows me will never walk in darkness, but will have the light of life.”<br><br> TLOL Team 2017.
         </p>
    </div>
    
</div>